/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 64px;
  border-radius: 8px;
  color: #fff;
  line-height: 1.66;
  background-color: #936cdd;
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover {
  color: #936cdd;
  background: #fff;
  border: 1px solid currentColor;
}

.sub-heading {
  position: relative;
  z-index: 1;
}
.sub-heading .heading__icon {
  position: absolute;
  z-index: -1;
  bottom: 72px;
  left: 33px;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
.hero {
  padding: 80px 0 140px;
  background: #fff8f3;
}

/* Hero Media */
.hero-media {
  display: flex;
  align-items: center;
  column-gap: 30px;
  /* Hero Media One*/
  /*Hero Media Two */
}
.hero-media__top {
  padding-bottom: 30px;
  position: relative;
}
.hero-media__img {
  width: 270px;
  height: 302px;
  border-radius: 8px;
  object-fit: cover;
  background: lightgray 50%;
}
.hero-media__audio {
  position: absolute;
  bottom: 0;
  left: 38px;
}
.hero-media__name {
  margin-top: 23px;
  color: #201830;
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-media__ava {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.hero-media__circle {
  display: flex;
  column-gap: 15px;
}
.hero-media__circle .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: #ff9051;
  color: #fff;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 800;
}
.hero-media__circle .circle span {
  display: inline-block;
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 500;
}
.hero-media__list {
  margin-top: 12px;
  display: flex;
  column-gap: 18px;
}
.hero-media__list .separated {
  margin-left: 9px;
}

.hero-thumb {
  position: relative;
  margin-top: 14px;
}
.hero-thumb__img {
  width: 270px;
  height: 302px;
  object-fit: cover;
}
.hero-thumb__box {
  position: absolute;
  bottom: 16px;
  left: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  text-align: center;
}
.hero-thumb__name {
  padding: 14px 50px;
  color: #201830;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-thumb__name span {
  display: inline-block;
  margin-top: 6px;
  color: #665f73;
  font-size: 1.2rem;
  font-weight: 400;
}

.hero-ava:first-child {
  margin-left: 0;
}

.hero-ava {
  width: 48px;
  height: 48px;
  margin-left: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
.hero-ava__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-left: -20px;
  border-radius: 50%;
  background: #201830;
  border: 2px solid #fff;
  color: #fff;
}

/* Hero Content */
.hero-content {
  margin-left: 100px;
}

.hero-heading {
  width: 470px;
  color: #201830;
  line-height: 1.14;
  font-size: 7rem;
  font-weight: 700;
}

.hero-desc {
  margin-top: 20px;
  width: 470px;
  color: #665f73;
  line-height: 1.66;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero-action {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.hero-action .hero-link {
  color: #201830;
  line-height: 1.66;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.listen {
  text-align: center;
  margin-top: 160px;
}
.listen__heading {
  color: #201830;
  line-height: 1.23;
  font-size: 4.2rem;
  font-weight: 700;
  display: inline-block;
}
.listen__icon {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -5px;
  width: 193px;
  height: 23px;
}
.listen__desc {
  margin-top: 18px;
  width: 470px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 400;
}

.listen-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 28.5rem 28.5rem;
  grid-template-areas: ". . ." ". . .";
  margin-top: 70px;
  row-gap: 30px;
}
.listen-body__box {
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.listen-body__img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}
.listen-body__blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 86px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.listen-body__wrap {
  padding: 16px 24px;
  position: absolute;
  left: 0;
}
.listen-body__name {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #fff;
  line-height: 1.66;
  font-size: 1.8rem;
  font-weight: 600;
}
.listen-body__icon {
  margin-top: 2px;
}
.listen-body__desc {
  color: #fff;
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 400;
}

.listen-item__1 {
  grid-column: span 4;
  grid-row: span 2;
}

.listen-item__2 {
  grid-column: span 5;
}

.listen-item__3 {
  grid-column: span 3;
}

.listen-item__4 {
  grid-column: span 3;
}

.listen-item__5 {
  grid-column: span 5;
}

.listen-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.listen-action .listen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 64px;
  border-radius: 8px;
  color: #fff;
  line-height: 1.66;
  background-color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
}
.listen-action .listen-btn:hover {
  color: #201830;
  border: 1px solid currentColor;
  background: #fff;
}

.nav__inner {
  background: #fff8f3;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 0 30px;
}
.header .nav-list {
  display: flex;
}
.header .nav-list__items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  color: #665f73;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  transition: 0.25s;
}
.header .nav-list__items:hover {
  color: #201830;
  text-shadow: 1px 0 0 currentColor;
}
.header .nav-list__icon {
  margin: 6px 0 0 7px;
}
.header__action {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header__link {
  color: #201830;
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 600;
}
.header__link:hover {
  text-decoration: underline;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  line-height: 1.66;
  background-color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  transition: 0.5s;
}
.header__btn:hover {
  color: #201830;
  border-color: currentColor;
}

.popular {
  margin-top: 160px;
  padding: 100px 0;
  background: #fff8f3;
}
.popular__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__heading {
  color: #201830;
  line-height: 1.23;
  font-size: 4.2rem;
  font-weight: 700;
  width: 390px;
}
.popular__icon {
  position: absolute;
  z-index: -1;
  top: 38px;
  right: 42px;
}
.popular__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 64px;
  border-radius: 8px;
  color: #fff;
  line-height: 1.66;
  background-color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
}
.popular__btn:hover {
  color: #201830;
  border-color: currentColor;
}

.popular-list {
  margin-top: 84px;
}

.popular-items {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.popular-items__img {
  width: 270px;
  height: 286px;
  border-radius: 8px;
  object-fit: cover;
}
.popular-items__content {
  width: 270px;
}
.popular-items__time {
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fd6f1f;
}
.popular-items__heading {
  color: #201830;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 6px;
}
.popular-items__desc {
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 18px;
  color: #665f73;
}
.popular-items__action {
  margin-top: 11px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.popular-items__link {
  display: inline-block;
  color: #201830;
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.25s;
}
.popular-items__icon {
  color: #201830;
  transition: 0.25s;
}

.popular-items__action:hover > * {
  color: #936cdd;
}

.dots {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.dots .dot {
  width: 8px;
  height: 8px;
  background: #d8d5de;
  border-radius: 50%;
}
.dots .dot-active {
  width: 12px;
  height: 12px;
  background: #936cdd;
}

.review {
  margin-top: 168px;
  position: relative;
}
.review__media {
  display: flex;
  align-items: center;
}
.review__img--1 {
  width: 270px;
  height: 284px;
  border-radius: 8px;
  object-fit: cover;
}
.review__img--2 {
  position: relative;
  z-index: -1;
  margin-left: -65px;
  width: 370px;
  height: 444px;
  border-radius: 8px;
  object-fit: cover;
}
.review__dots {
  position: absolute;
  bottom: 0;
  left: 160px;
}

.review__content {
  margin: 48px 0 0 130px;
}
.review__heading {
  color: #201830;
  line-height: 1.23;
  font-size: 4.2rem;
  font-weight: 700;
  width: 470px;
  margin-top: 18px;
}
.review-icon__heading {
  position: absolute;
  z-index: -1;
  right: 100px;
  top: 30px;
}
.review__desc {
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 400;
  width: 470px;
  margin-top: 38px;
  color: #665f73;
}
.review__name {
  line-height: 1.71;
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  color: #aba6b5;
  margin-top: 18px;
}

.list-podcast {
  margin-top: 160px;
}

.list-content {
  margin-top: 45px;
  width: 470px;
}
.list-content__heading {
  color: #201830;
  line-height: 1.23;
  font-size: 4.2rem;
  font-weight: 700;
}
.list-content__desc {
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 18px;
  color: #665f73;
}
.list-content__btn {
  margin-top: 38px;
}
.list-content__icon {
  margin: 4px 0 0 8px;
}

.list__icon {
  position: absolute;
  bottom: -6px;
  right: 60px;
  z-index: -1;
  width: 236px;
  height: 30px;
}

.list-media {
  position: relative;
  height: 400px;
  background-color: #fff;
}
.list-media__blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 287px;
  height: 287px;
}
.list-media__img--1, .list-media__img--2, .list-media__img--3, .list-media__img--4, .list-media__img--5 {
  position: absolute;
}
.list-media__img--1 {
  top: 0;
  left: 185px;
  width: 148px;
  height: 148px;
}
.list-media__img--2 {
  top: 60px;
  right: 0;
}
.list-media__img--3 {
  width: 138px;
  height: 138px;
  right: 48px;
  bottom: 40px;
}
.list-media__img--4 {
  width: 126px;
  height: 126px;
  left: 170px;
  bottom: 0;
}
.list-media__img--5 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/*# sourceMappingURL=main.css.map */
