@use "../common";

.listen {
    text-align: center;
    margin-top: 160px;

    &__heading {
        @include common.heading-2;
        display: inline-block;
    }

    &__icon {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -5px;
        width: 193px;
        height: 23px;
    }

    &__desc {
        margin-top: 18px;
        width: 470px;
        margin-left: auto;
        margin-right: auto;
        @include common.desc-2;
    }
}

.listen-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 28.5rem 28.5rem;
    grid-template-areas:
        ". . ."
        ". . .";
    margin-top: 70px;
    row-gap: 30px;

    &__box {
        height: 100%;

        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 8px;
    }

    &__blur {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 86px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
    }

    &__wrap {
        padding: 16px 24px;
        position: absolute;
        left: 0;
    }

    &__name {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: #fff;
        line-height: 1.66;
        font : {
            size: 1.8rem;
            weight: 600;
        }
    }

    &__icon {
        margin-top: 2px;
    }

    &__desc {
        color: #fff;
        line-height: 1.71;
        font: {
            size: 1.4rem;
            weight: 400;
        }
    }
}
.listen-item__1 {
    grid-column: span 4;
    grid-row: span 2;
}

.listen-item__2 {
    grid-column: span 5;
}

.listen-item__3 {
    grid-column: span 3;
}

.listen-item__4 {
    grid-column: span 3;
}

.listen-item__5 {
    grid-column: span 5;
}

.listen-action {
    @include common.flexCenter;
    margin-top: 72px;

    .listen-btn {
        @include common.clickBtn($background: #201830);

        &:hover {
            color: #201830;
            border: 1px solid currentColor;
            background: #fff;
        }
    }
}
